.mybutton{
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    background-color: rgb(206, 156, 237);
    border-radius: 10px;
}
.mybutton:hover{
    background-color: rgb(125, 255, 128);

}
.imgbutton{
    display: flex;
    margin: 20px;
    justify-content: center;
}
.memeimge{
    display: flex;
    position: relative;
    justify-content: center;
}
.mymemeimg{
    width: 80%;
}
.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 1.6em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom{
    bottom: 0px;
}

