.Appp{
    width: 50%;
    /* border-radius: 26px; */
    border: 5px solid black;
}
.App{
    display: flex;
    justify-content: center;
}
@media screen and (max-width:600px){
    .Appp{
        width: 100%;
        /* border-radius: 26px; */
        /* border: 5px solid black; */
    }
}